
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  transition: .3s ease;
} */

:root {
  --primary-100:#944927;
  --primary-200:#9c5b4b;
  --primary-300:#c99a6e;
  --accent-100:#aa735d;
  --accent-200:#aa5d5d;
  --text-100:#e49677;
  --text-200:#da8888;
  --text-300:#fff;
  --bg-100:#cccccc;
  --bg-200:#575757;
  --bg-300:#1d1c1c;
  /* fuentes & tamaños */
  --bigFontSize: 2.5rem;
  --h1FontSize: 1.5rem;
  --h2FontSize: 1.25rem;
  --h3FontSize: 1rem;
  --normalFontSize: .938rem;
  --smallFontSize: .813rem;
  --smallerFontSize: .75rem;
}

html {
  font-size: 90%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.icon {
  font-size: var(--h2FontSize);
  cursor: pointer;
}

img { 
  width: 50%;
  height: auto;
}

.flex {
  display: flex;
  align-items: center;
}

.grid {
  display: grid;
  align-items: center;
  gap: 1.5rem;
}

.btn {
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 0 2px 4px var(--bg-200);
  padding: .8rem 1rem;
  color: var(--text-300);
  background: var(--bg-300);
}

.btn .icon {
  margin-left: .5rem;
}

.btn:hover {
  background: var(--bg-200);
  color: var(--text-300);
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding-top: 1rem;
  background-color: var(--bg-200);
}

.container {
  position: relative;
  width: 95vw;
  align-items: center;
  justify-content: center;
  background: var(--bg-300);
  overflow: hidden;
  border-radius: 1rem;
  box-shadow: 2px 2px 8px var(--text-200);
}